@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body {
    margin: 0;
    background-color: black;
    font-family: "proxima-nova-condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.navigation {
    width: calc(100% - 20px);
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
  }

.logo-MaLong {
    height: 40px;
}

.navigation ul {
    margin-right: 5px;
}

.navigation li {
    display: inline;
    margin-right: 150px;
    font-size: 20px;
}

.navigation li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: color 0.2s;
    
}

.navigation li a:hover {
    color: orange;
}

.wrapper {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    margin-top: 50px;
    
}

.wrapper img {
    width: 750px;
    margin: 20px 0; 
}

.wrapper h1{
    color: white;
    font-size: 50px;
    margin: 20px 0; 
}

.wrapper p {
    color: white;
    font-size: 18px; 
    max-width: 750px; 
    margin: 20px 0; 
}


